
body{
    background-color: rgb(57, 75, 81);
}

#infoContactoBoton{
    background-color: grey;
    Color:white;
    text-align: center;
    font-size: 15px;
    right:300px;
    top:45px;
    position: absolute;
    
}

#infoExpLaboralBoton, #infoEducacionBoton, #infoLenguajesBoton, #infoCursosBoton, #infoSkillsBotton{
    text-align: center;
    display: inline-block;
    font-weight: bold;
    
}

h1 {
    text-align: left;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif
}

h3{
    background-color: rgb(193, 193, 209);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding:5px;
}

h4{
    font-size: 17px;
    color:grey;
}

header{
    display:flex;
    position:relative;
}

table{
    position:relative;
    width: 100%;
}

.dosColum th{
    width:50%;
    text-align: justify;
    padding:15px;
}

.tresColum th{
    width:25%;
    text-align: justify;
}

header {
    background-color: rgb(186, 187, 197);
    width: 960px;
    margin: auto;
}

#contenedor {
    background-color: #ffffff;
    text-align: left;
    width: 960px;
    position:relative;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

#contenedor2 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    display: block;
    padding: 20px;
}

.importante{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}


#miImagen{
    margin-top: 30px;
    margin-left:15px;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 50%;
    height: 150px; 
    width: 150px;
    
}

#nombre{
    display: inline-block;
}

fieldset{
    background-color: rgb(186, 187, 197);
    border: 0px;
    list-style-type: none;
    font-size: 18px;
    margin-top: 50px;
    margin-left:  80px;
    float:left;
}

li {
    margin-bottom: 4px;
}
